<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card mt-3">
        <div class="card-header">
          <b>Enter comment </b>
        </div>
        <div class="card-body">
          <div class="alert alert-info" *ngIf="loading && !error">
            Comments loading...
          </div>
          <div class="alert alert-danger" *ngIf="error">
            <h5>Error appeared:</h5>
            <p>{{ error }}</p>
          </div>
          <form>
            <div class="row mb-3">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="First name"
                  aria-label="First name"
                  #firstName
                />
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Last name"
                  aria-label="Last name"
                  #lastName
                />
              </div>
            </div>
            <select class="form-select mb-3" style="color: gray" #rating>
              <option selected>Select rating...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="4">Four</option>
              <option value="5">Five</option>
            </select>
            <div class="mb-3">
              <textarea
                cols="30"
                rows="5"
                type="text"
                class="form-control"
                placeholder="Please enter a comment..."
                #comment
              ></textarea>
            </div>
            <button
              class="btn btn-primary"
              (click)="
                send(
                  firstName.value,
                  lastName.value,
                  rating.value,
                  comment.value
                )
              "
            >
              Add comment
            </button>
          </form>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-header">
          <b>All Comments </b>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li
              class="list-group-item mb-3 border rounded"
              *ngFor="let comment of allComments"
            >
              <b>{{ comment.firstName }} {{ comment.lastName }}</b>
              <div>
                <i
                  [ngClass]="{
                    'bi-star-fill': comment.rating >= '1',
                    'bi-star': comment.rating < '1'
                  }"
                ></i>
                <i
                  [ngClass]="{
                    'bi-star-fill': comment.rating >= '2',
                    'bi-star': comment.rating < '2'
                  }"
                ></i>
                <i
                  [ngClass]="{
                    'bi-star-fill': comment.rating >= '3',
                    'bi-star': comment.rating < '3'
                  }"
                ></i>
                <i
                  [ngClass]="{
                    'bi-star-fill': comment.rating >= '4',
                    'bi-star': comment.rating < '4'
                  }"
                ></i>
                <i
                  [ngClass]="{
                    'bi-star-fill': comment.rating >= '5',
                    'bi-star': comment.rating < '5'
                  }"
                ></i>
              </div>
              <div>
                {{ comment.comment }}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
