<div class="card mt-3">
  <div class="card-body">
    <h2>Thomann's Online Guides</h2>
    <p>
      Here's a list of our current Online Guides. If you're unsure of how to go
      about selecting the right product for you, or you just want to know more
      about any of these topics, read on!
    </p>
    <a href="https://www.thomann.de/intl/lt/onlineexpert.html">Online helper</a>
  </div>
</div>
<div class="row justify-content-md-center">
  <iframe
    class=""
    width="800"
    height="700"
    src="https://www.youtube.com/embed/b1NmPFgdt6Y"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
