<div class="row mt-3">
  <div class="offset-md-3 col-md-6">
    <div class="card">
      <div class="card-header">
        <h5>
          {{ meal.name }}
        </h5>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <label class="form-label">
            <b> Description:</b>
          </label>
          <textarea
            rows="5"
            class="form-control"
            [value]="meal.description"
            #description
          ></textarea>
        </div>
        <div class="mb-3">
          <label class="form-label">
            <b> Proteins:</b>
          </label>
          <input
            type="text"
            class="form-control"
            [value]="meal.proteins"
            #proteins
          />
        </div>
        <div class="mb-3">
          <label class="form-label">
            <b> Carbs:</b>
          </label>
          <input type="text" class="form-control" [value]="meal.carbs" #carbs />
        </div>
        <div class="mb-3">
          <label class="form-label">
            <b>Fat:</b>
          </label>
          <input type="text" class="form-control" [value]="meal.fat" #fat />
        </div>
        <div class="mb-3">
          <label class="form-label">
            <b>Calories:</b>
          </label>
          <input
            type="text"
            class="form-control"
            [value]="meal.calories"
            #calories
          />
        </div>
        <div class="mb-3">
          <label class="form-label">
            <b>Ingredients:</b>
          </label>
          <textarea
            rows="1"
            class="form-control"
            *ngFor="let ingridients of meal.ingredients"
            readonly
            >{{ ingridients.name }} {{ ingridients.amount
            }}{{ ingridients.units }}</textarea
          >
        </div>
        <button [routerLink]="['/meal', id]" class="btn btn-primary">
          Back
        </button>
        <button
          [routerLink]="['/meal', id, 'edit']"
          class="btn btn-success ms-2"
          (click)="edit(description, proteins, carbs, fat, calories)"
        >
          Save
        </button>
        <button
          type="button"
          class="btn btn-light float-end"
          [routerLink]="['/meal', id, 'edit', 'add']"
          (click)="addIngredient()"
        >
          <i class="fas fa-plus-square me-1"></i>
          Add ingridient
        </button>
      </div>
    </div>
  </div>
</div>
