<div class="card mt-3">
  <div class="card-body">
    <h2>Ordering process / conluding the contract</h2>
    <h3>Technical steps involved in the ordering process</h3>
    <ul class="m-2">
      <li class="m-2">
        Click on “Proceed to Checkout” in the shopping basket displayed on the
        screen
      </li>
      <li class="m-2">
        You will be redirected to the general order overview page (thomann.de
        Checkout), where you will then be guided through the individual stages
        of the purchase
      </li>
      <li class="m-2">
        Step 1 Select the “Invoice and Delivery Address” (if you do not have a
        Thomann customer account and are not logged in; otherwise the invoice
        and delivery addresses are already stored);

        <ul class="m-2">
          <li class="m-2">Enter the “Invoice Address”;</li>
          <li class="m-2">
            If your invoice address and delivery address differ, you can “enter
            a different delivery address” by checking the box provided
          </li>
        </ul>
      </li>
      <li class="m-2">
        Step 2 If your invoice address and delivery address differ, you can
        “enter a different delivery address” by checking the box provided
      </li>
      <li class="m-2">
        Step 3 Select “Method of Payment” (by clicking on the desired payment
        method)
      </li>
      <li class="m-2">
        Step 4 You can choose from “More Options” by checking the relevant boxes
        (different delivery address, shipping date, use Thomann voucher, add a
        comment/note to the order)
      </li>
      <li class="m-2">Complete the order by clicking “Submit”</li>
    </ul>
    <h3>Identifying and correcting input errors</h3>
    <p class="m-2">
      Before you complete your order to binding effect, or at any point during
      the ordering process, you can correct the information you have entered
      using the usual functions of your keyboard and mouse. You can also make
      corrections to the information you have provided during the ordering
      process.
    </p>
    <h3>Contractual language</h3>
    <p class="m-2">
      The language used for the ordering process and the conclusion of the
      contract is German (see § 1 item 4 of our General Terms and Conditions of
      Business).
    </p>
    <h3>Storage and accessibility of the contract</h3>
    <p class="m-2">
      The contract is stored, and the order data and General Terms and
      Conditions are sent to the customer by email. Customers can view all of
      their previous orders after logging into the customer service pages of the
      website (see § 1 item 2 of our General Terms and Conditions of Business).
    </p>
  </div>
</div>
