<div class="card mt-3">
  <div class="card-body">
    <h1>Con­tact</h1>
    <h2>
      Our customer service staff are here to help you with any queries or
      problems
    </h2>
    <h3>Keep customer number ready</h3>
    <p class="m-2">
      Please have your customer number at hand when calling, if possible. In
      most cases, this will allow us to help you more efficiently. Just log in
      to your customer centre - you'll see you customer number there.
    </p>
    <h3>Business Hours</h3>
    <table class="table m-3">
      <tbody>
        <tr>
          Monday 09:30 - 18:30
        </tr>
        <tr>
          Tuesday 09:30 - 18:30
        </tr>
        <tr>
          Wednesday 09:30 - 18:30
        </tr>
        <tr>
          Thursday 09:30 - 18:30
        </tr>
        <tr>
          Friday 09:30 - 18:30
        </tr>
        <tr>
          Saturday 09:30 - 16:00
        </tr>
      </tbody>
    </table>
    <p class="m-2">
      Thank you for understanding that we can only respond to inquiries within
      our working hours.
    </p>

    <div class="alert alert-warning" role="alert">
      COVID-19: The shop, repair centre and t.kitchen's opening hours currently
      depend on the 7-day incidence. We will keep you updated on our blog.
    </div>

    <h3>Address</h3>
    <p class="m-2">
      Thomann GmbH Treppendorf Hans-Thomann-Straße 1 D-96138 Burgebrach, Germany
    </p>
  </div>
</div>
