<div class="card mt-3">
  <div class="card-body">
    <h1>Thomann. Hans Thomann</h1>
    <p>
      Thank you for dropping by, and for your interest in the history of
      Musikhaus Thomann. My name is Hans Thomann, and I have been the managing
      Director of Thomann since 1990. The company was founded by my father Hans
      Thomann, senior, in 1954. From the time I was 12 years old, he made me
      part of the business step by step. For the Thomann family, music has
      always been a passion and a central pursuit in our lives.
    </p>
    <p>
      I am originally a precision instrument engineer and a wind instrument
      maker by training. I was quite young when my father put me in charge of
      the company, and he gave me a lot of invaluable advice to guide me along
      the way. One of the things he told me and that has proven the most
      valuable is to always listen to the customers, and learn from them. Even
      though the world has changed so much since then, our motto is and will
      remain: Our customers determine our decisions.
    </p>
    <p>
      I'm proud to say that even with 1.480 employees and more than 14.750.000
      customers, we're still an independent family-owned company. The shared
      passion for music is what connects us, and it characterizes the way we do
      things at Thomann.
    </p>
    <p>
      Getting our customers the best products for the best price is one of our
      key strengths, and service is no less important. We want you to get the
      most for your money while shopping with us, and therefore we have devised
      our own credo: Added Value. For instance, we've been offering a general
      30-Day Money-Back Guarantee since 1995 – long before the EU came up with
      the directive on mail order purchases. On top of that, in 2005 we decided
      to offer an extended warranty period of three years – out of our own
      pocket! Happy customers make us happy in turn, and we appreciate the
      family atmosphere that prevails in our shop.
    </p>
    <p>
      I therefore invite you cordially to come visit our "campus" in Treppendorf
      near Bamberg (Bavaria) and to experience the "Thomann spirit" for
      yourself. Just follow your musical inclination - here's how to find us
    </p>
    <p>Sincerely Yours,</p>
    <p>Hans Thomann</p>
  </div>
</div>
