<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <div>
      <a href="https://angular.io/">
        <img
          style="width: 150px; height: auto"
          src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png"
        />
      </a>
    </div>
    <span class="text-muted">Our Angular Webpage - Routers.</span>
    <br />
    <div class="col-md-3 mt-3 rounded">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            routerLink="services"
            class="list-group-item list-group-item-action bg-dark rounded"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            style="color: wheat; text-decoration: none"
            >Services</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="our-works"
            class="list-group-item list-group-item-action bg-dark rounded"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            style="color: wheat; text-decoration: none"
            >Our works</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="about-us"
            class="list-group-item list-group-item-action bg-dark rounded"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            style="color: wheat; text-decoration: none"
            >About us</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="contacts"
            class="list-group-item list-group-item-action bg-dark rounded"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            style="color: wheat; text-decoration: none"
            >Contacts</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
